@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-color: #222;
    color: #ddd;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 5%;
}

.header {
    margin: auto;
    width: 50%;
}

#navbar {
    height: 40px;
    margin: 0 30px
}

.nav-item {
    margin-right: 5px;
}

div, #navbar {
    /*border: 3px dashed green;*/
}

/*Registration + Login pages*/
.content-section {
    margin: 0 20%;
}

/*Home page*/
.h-generator {
    width: 50%;
    height: 200px;
    margin: 50px auto auto;
}

#h-forward-label {
    margin-left: 16%;
}

#h-gen-header {
    margin-top: 1%;
}

#h-gen-btn {
    margin-left: 0.15%;
}

/*About page*/
.ab-desc {
    width: 60%;
    margin: 0 auto;
    padding-top: 2.5%;
}

.media-right {
    margin-right: 0;
}