{% extends "layout.html" %}

{% block content %}
    <div class="justify-content-center">
        <div class="text-center">
            <h3 class="pt-5">Take Control of Your Privacy</h3>
            <p class="text-muted">Using a burner email address for websites is a great step to reduce cross-site tracking.</p>
        </div>
        <div class="ab-benefits text-center">
            <h3 class="pt-3">Why Use Burner E-Mails?</h3>
            <ul class="list-inline text-muted">
                <li class="list-inline-item">Privacy</li>
                <li class="list-inline-item">Anonymity</li>
                <li class="list-inline-item">Spam</li>
                <li class="list-inline-item">Security</li>
            </ul>
        </div>
        <div class="ab-desc">
            <h2>Privacy</h2>
            <p>No personally identifying information is linked to anyone who uses a burner E-Mail address.
            Take control of your digital identity.</p>
        </div>
        <div class="ab-desc">
            <h2>Anonymity</h2>
            <p>Burner E-Mails allow anonymous sending and receiving of E-Mails.</p>
        </div>
        <div class="ab-desc">
            <h2>Spam</h2>
            <p>Using one burner E-Mail per site account allows for manual force opt-outs of all E-Mail communications.
            Simply destroy the burner E-Mail to cease all communication.</p>
        </div>
        <div class="ab-desc">
            <h2>Security</h2>
            <p>Our servers do not store content forwarded to your primary E-Mail address. We will never sell your
            data.</p>
        </div>
    </div>
{% endblock %}