@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin-top: 5rem;
    background-color: #222;
    color: #ddd;
    font-family: 'Raleway', sans-serif;
}

.header {
    margin: auto;
    width: 50%;
}

#navbar {
    height: 40px;
    margin: 0 30px
}

.nav-item {
    margin-right: 5px;
}

div, #navbar {
    border: 3px dashed green;
}

/*Home page*/
.h-generator {
    width: 50%;
    height: 200px;
    margin: 50px auto auto;
    text-align: center;
}

#h-gen-header {
    margin-top: 1%;
}

#h-gen-body {
    margin: 0 auto;
}

#h-gen-btn {
    text-align: center;
}

/*About page*/
.ab-benefits {
    width: 60%;
    margin-left: 20%;
    padding-top: 2.5%;
}