{% extends "layout.html" %}
<!--Overrides html setup from layout template and allows
replacement of the content block. What is below the content
block here is what would be inside of the body tag.-->
{% block content %}
    <div class="header text-center justify-content-center">
        <h1 class="col-sm-12">🔥 Burner Mail 🔥</h1>
        <h3>Simple Burner E-Mail Utility</h3>
    </div>

    <div class="h-generator">
        <div id="h-gen-header">
            <h5>Generate a burner email below.</h5>
        </div>
        <div id="h-gen-body" class="form-group row justify-content-center">
            <input class="form-control col-md-9 text-left text-monospace" type="text" placeholder="Click generate to populate" readonly>
            <button class="btn btn-info col-md-3 text-center">Generate</button>
        </div>
    </div>
{% endblock %}
